#chars  {
    width: 60%;
    height: 120px;
    margin: auto;
}

#gotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}

body {
    background-color: #000;
    color: #d7d7d7;
    font-family: 'Play', sans-serif;
}

textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #f3172d;
    font-family: 'Istok Web', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-color: #f3172d;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: red;
}

#share {
    border: 1px solid red;
    padding: 0.4em;
    margin: auto;
    margin-bottom: 0.2em;
    display: none;
}

#uibox {
    display: flex;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
    flex-flow: row wrap;
}

#uiopts {
    display: flex;
    flex-direction: column;
}

#uiopts > button {
    margin: 0.4em;
}

.flex {
    font-family: 'Istok Web', sans-serif;
    display: flex;
    max-width: 500px;
    margin: auto;
    order: 1;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333;
    padding: .5em;
    margin-top: .8em;
    margin-bottom: .8em;
}

.fleximg {
    display: flex;
    order: 2;
    flex-flow: row wrap;
    justify-content: flex-start;
}


.cname {
    font-weight: bolder;
    flex-direction: column;
    order: 1;
}

.corp {
    display: block;
    text-transform: italic;
    order: 2;
}

.alliance {
    display: block;
    order: 3;
}

.chimg {
    order: 4;
}

.corpimg {
    padding: 2px;
    order: 5;
}

.allyimg {
    order: 6;
}

.linkbar {
    display: flex;
    justify-content: flex-end;
    order: 99;
}

.linkbar a {
    padding-right: .4em;
}

.zkillstats {
    order: 10;
    font-size: 0.8em;
}

.zkillkm {
    order: 11;
    font-size: 0.8em;
}

.topsys {
    order: 12;
    font-size: 0.8em;
}

.orangebox {
    border: 1px dashed orange;
}

.redbox {
    border: 2px dashed red;
}
